@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Erica+One&family=Overpass:wght@900&family=Poppins:wght@300;400;500;600&family=Roboto+Mono:wght@400;500&display=swap');


.App{
    font-family: 'Courgette', cursive;
    font-family: 'Erica One', cursive;
    font-family: 'Overpass', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    transition: ease-in-out;

}

::-webkit-scrollbar{
    scroll-behavior: smooth;
}